## Gathering csv data

In [1]:
import os
import pandas as pd
from bokeh.plotting import figure, show, save
from bokeh.models import Legend, LegendItem
from bokeh.palettes import Turbo256

In [2]:
files = os.listdir(os.getcwd())
files

['Order_26973_Pkg_64010.zip',
 'CropProductionPerYearInAlberta.html',
 '.ipynb_checkpoints',
 'Municipal_Boundaries_SHP_Geographic',
 'TotalCropProductionPerYearInAlberta.html',
 'cropsByCounty.csv',
 'plot_crop_production.ipynb',
 'stcmajorcropproductioncsvv6.02015-06-08.csv']

In [3]:
# This is bad, I should not be hardcoding this
csv_file = files[-1]

In [4]:
crops_df = pd.read_csv(csv_file)

In [5]:
crops_df

     Year Geography               Crop  Production (Million Tonnes)  notes
0    2000   Alberta            Barley                          5.27    NaN
1    2000   Alberta     Beans, all dry                         0.04    NaN
2    2000   Alberta        Canary seed                         0.01    NaN
3    2000   Alberta            Canola                          2.19    NaN
4    2000   Alberta         Chick peas                         0.02    NaN
..    ...       ...                ...                          ...    ...
332  2014   Alberta        Wheat, all                          9.35    NaN
333  2014   Alberta      Wheat, durum                          0.71    NaN
334  2014   Alberta     Wheat, spring                          8.37    NaN
335  2014   Alberta      Wheat, winter                         0.27    NaN
336  2014   Alberta  Total - All Crops                        30.17    NaN

[337 rows x 5 columns]

## Do some data manipulation

In [6]:
crops_df_individual = crops_df[~(crops_df['Crop'].str.contains(', all')) & ~(crops_df['Crop'].str.contains('Total - '))]
print(list(set(crops_df_individual['Crop'].values)))
crops_df_individual

['Corn, fodder ', 'Oats ', 'Mixed grains ', 'Mustard seed', 'Peas, dry ', 'Wheat, spring ', 'Fababeans', 'Sugar beets', 'Corn for grain', 'Canola ', 'Canary seed', 'Sunflower seed', 'Tame hay ', 'Barley ', 'Lentils', 'Safflower', 'Flaxseed ', 'Wheat, winter', 'Fall Rye', 'Triticale ', 'Wheat, durum ', 'Chick peas']

     Year Geography            Crop  Production (Million Tonnes)  notes
0    2000   Alberta         Barley                          5.27    NaN
2    2000   Alberta     Canary seed                         0.01    NaN
3    2000   Alberta         Canola                          2.19    NaN
4    2000   Alberta      Chick peas                         0.02    NaN
5    2000   Alberta  Corn for grain                         0.03    NaN
..    ...       ...             ...                          ...    ...
330  2014   Alberta       Tame hay                          7.26    NaN
331  2014   Alberta      Triticale                          0.02    NaN
333  2014   Alberta   Wheat, durum                          0.71    NaN
334  2014   Alberta  Wheat, spring                          8.37    NaN
335  2014   Alberta   Wheat, winter                         0.27    NaN

[282 rows x 5 columns]

## Do the Plotting

In [7]:
def make_line_plot(title, x_axis, y_axis, df, line_column):
    p = figure(title=title, x_axis_label=x_axis, y_axis_label=y_axis, width=1600, height=900)
    col_names = list(set(df[line_column].values))
    legend_item_list = []
    for col_ind, col in enumerate(col_names):
        color = Turbo256[round(256*col_ind/len(col_names))]
        df_filtered = df[df[line_column] == col]
        line = p.line(x=df_filtered[x_axis], y=df_filtered[y_axis], name=col, line_color=color)
        legend_item_list.append((col, [line]))
    legend = Legend(items=legend_item_list)
    legend.click_policy = 'hide'
    p.add_layout(legend, 'right')
    save(p, os.path.join(os.getcwd(),f"{title.title().replace(' ', '')}.html"))
    
make_line_plot("Total Crop Production per Year in Alberta", "Year", 'Production (Million Tonnes)', crops_df, "Crop")
make_line_plot("Crop Production per Year in Alberta", "Year", 'Production (Million Tonnes)', crops_df_individual, "Crop")

/usr/local/bin/venv/4h_plotting/lib/python3.8/site-packages/bokeh/io/saving.py:142: UserWarning: save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN
  warn("save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN")
/usr/local/bin/venv/4h_plotting/lib/python3.8/site-packages/bokeh/io/saving.py:154: UserWarning: save() called but no title was supplied and output_file(...) was never called, using default title 'Bokeh Plot'
  warn("save() called but no title was supplied and output_file(...) was never called, using default title 'Bokeh Plot'")

In [20]:
Category20[20]

('#1f77b4',
 '#aec7e8',
 '#ff7f0e',
 '#ffbb78',
 '#2ca02c',
 '#98df8a',
 '#d62728',
 '#ff9896',
 '#9467bd',
 '#c5b0d5',
 '#8c564b',
 '#c49c94',
 '#e377c2',
 '#f7b6d2',
 '#7f7f7f',
 '#c7c7c7',
 '#bcbd22',
 '#dbdb8d',
 '#17becf',
 '#9edae5')